{
  "position": ${dimensions},
  "metadata": {
    "inputs": [],
    "settings": {
      "content": {
        "settings": {
          "content": ${jsonencode(content)},
          "title": ${jsonencode(title)},
          "subtitle": "",
          "markdownSource": 1
        }
      }
    },
    "type": "Extension/HubsExtension/PartType/MarkdownPart"
  }
}
